/* playing with colors */
/*.header, .blog4, button         {background-color: #2BBD78;}
.profile1                         {background-color: #FF9F00;}
.experience2, .contact6           {background-color: #1086C0;}
.education3                       {background-color: #D14C3A;}
.social5, .portfolio7             {background-color: #FA690D;}*/

.header, .blog4, button         {background-color: #0299A3;}
.profile1                       {background-color: #380032;}
.experience2, .contact6, body   {background-color: #0F0A0F;}
.education3                     {background-color: #D62672;}
.social5, .portfolio7           {background-color: #82035B;}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
}

h1, div, button {
  color: #FFF;
}

h1 {
  margin-top: 4px;
  font-size: 24px;
  letter-spacing: 2px;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 300;
}

.link p {
  margin-top: 6px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}  

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 33.3333%;
  height: 33.3333%;
  align-items: center;
  justify-content: center;
}

.header {
  width: 66.6666%;
  align-items: flex-start;
}

.link {
  transition: all 300ms ease;
}

.link:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

button {
  width: 130px;
  height: 50px;
  border: 2px solid #FFF;
  margin-top: 16px;
  margin-right: 12px;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 16px;
  transition: all 300ms ease;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.9);
}

button img {
  width: 15px;
  height: 15px;
}

.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-profile {
  background-image: url('images/profile.svg');
}

.icon-experience {
  background-image: url('images/experience.svg');
}

.icon-education {
  background-image: url('images/education.svg');
}

.icon-blog {
  background-image: url('images/blog.svg');
}

.icon-social {
  background-image: url('images/social.svg');
}

.icon-contact {
  background-image: url('images/contact.svg');
}

.icon-portfolio {
  background-image: url('images/portfolio.svg');
}

.image {
  width: 40%;
  height: 100vh;
  padding: 10px;
  background-image: url('images/illuminated.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  display: inline-block;
  float: right;
  width: 11px;
  height: 11px;
  margin: 12px 3px;
  background-image: url('images/circle.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.circle:hover {
  opacity: 0.5;
}

.current-circle {
  opacity: 0.9;
}

.arrows {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
}

.arrows img {
  width: 42px;
  height: 42px;
  opacity: 0.3;
}

.arrows img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    max-height: 935px;
  }
}

@media screen and (max-width: 805px) {
  button {
    width: 100px;
    height: 38px;
    margin-top: 16px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 736px) {
  .menu {
    width: 50%;
  }
  
  .image {
    width: 50%;
  }
  
  .content {
    flex-direction: row;
    width: 100%;
    height: initial;
  }
  
  .header {
    flex-direction: column;
    height: auto;
  }
  
  .link p {
    margin-left: 8px;
  }
  
  .icon {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: row;
  }
  
  .menu {
    order: 1;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: 200px;
    background-image: url('images/illuminated-small.jpg');
  }
  
  .arrows {
    height: 130px;
  }
}